server:
  servlet:
    context-path: ${CONTEXT_PATH}
    
spring:
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
    hikari:
      connection-timeout: ${TIMEOUT}
      maximum-pool-size: ${POOL_SIZE}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: true
    show-sql: true